<div class="main-wrapper">
<nav class="main-navigation">
    <div class="navbar-header animated fadeInUp">
        <a class="navbar-brand">
            <img class="logo-img" src="../../../assets/logo.jpg"></a>
    </div>
    <ul class="nav-list">
        <li class="nav-list-item">
            <a class="nav-link">Products</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-link">Solutions</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-link">Pricing</a>
        </li>
        <li class="nav-list-item">
            <button class="nav-link login-btn">Login</button>
        </li>
        <li class="nav-list-item">
            <button class="nav-link get-started-btn">Get Started</button>
        </li>
    </ul>

</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="simple-text">
                <span class="text-blob-small">
                    We make it Super
                </span><br>
                <span class="text-blob-small">Simple</span>
            </div>
            <div class="left-circle-wrap">
                <a class="">
                    <img class="blob-small" src="../../../assets/blob-small.svg"></a>
            </div>
            <div class="card top-page-card">
                <img class="blob-small" src="../../../assets/collect_img-video.png">
                <span class="accounting-dots-left">
                    <img class="dots" src="../../../assets/accounting_dots.svg">
                </span>
            </div>


        </div>

        <div class="col-md-6">
            <div class="right-circle-wrap">
                <a class="">
                    <img class="circle-svg" src="../../../assets/circle.svg"></a>
                    <calculator></calculator>
                <div class="accounting-dots-right">
                    <img class="dots" src="../../../assets/accounting_dots.svg">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <a class="sol-wave-background">
            <img class="sol-wave-bg" src="../../../assets/sol_wave_bg.svg"></a>
        <div class="col-md-1"></div>
        <div class="col-md-2 left-cards-wrap">
            <div class="card quick-cash-card">
                <span class="card-img">
                    <img class="" src="../../../assets/quick-cash.png">
                </span>
                <span class="content-wrap">
                <span class="header">
                    Quick cash disbursement
                </span>
                <br><span class="content">
                    Get terms loans that your business needs within 72 hrs
                </span>
            </span>
            </div>
            <br>
            <div class="card low-interest-card">
                <span class="card-img">
                    <img class="" src="../../../assets/Low-interest.png">
                </span>
                <span class="content-wrap"><span class="header">
                    Low-interest rate
                </span>
                <br><span class="content">
                    Achieve your financial goals with an amazing interest rate starting at 13% per annum
                </span>
                </span>
            </div>
            <br>

            <div class="card zero-paperwork-card">
                <span class="card-img">
                    <img class="" src="../../../assets/Secure Payments.png">

                </span>
                <span class="content-wrap"><span class="header">
                    Zero Paperwork
                </span>
                <br><span class="content">
                    Get started instantly by submitting only your basic details & bank statements
                </span>
                </span>
            </div>

        </div>

        <div class="col-md-2 right-cards-wrap">

            <div class="card ace-business-card">
                <span class="card-img">
                    <img class="" src="../../../assets/freelancer.png">

                </span>
                <span class="content-wrap"><span class="header">
                    Ace your business finances
                </span>
                <br><span class="content">
                    Manage banking, accounting & everything in between, on one platform
                </span>
                </span>
            </div>
            <br>

            <div class="card loan-covid-card">
                <span class="card-img">
                    <img class="" src="../../../assets/Covid.png">

                </span>
                <span class="content-wrap"><span class="header">
                    Loans to fight COVID-19
                </span>
                <br><span class="content">
                    Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
                </span>
                </span>
            </div>

        </div>
        <div class="col-md-1"></div>

        <div class="col-md-3 right-act">
            <div class="boost-text">
                <span class="text-blob-small">
                    Boost your business
                </span><br>
                <span class="text-blob-small">With Open</span>
            </div>
            <br>
            <div class="boost-subtext">
                <span class="subtext">
                    Get your hands on a term loan that’s
                </span>
                <br>
                <span class="subtext">crafted for your business</span>
            </div>
            <br>
            <div class="act-btn">
                <button class="get-acc-btn">Get an Open Account</button>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>


</div></div>