

<div class="container">
    <div class="spacer">
      <div class="row card">
          <div class="card-header">
              Eligibility Calculator
          </div>
          <div class="col-lg-2"></div>
        <div class="col-lg-10">
          <div class="well">
  
            <div class="form-group">
              <div class="col-md-12">
                <span class="left-title">
                  Monthly Income
                </span>
                <input type="text"  class="form-control" (blur)="tbupdate(0)"
                  [(ngModel)]="query.amount" placeholder="Monthly Income" name="pemi.highValue" />
              </div>
              <ngx-slider [(value)]="pemi.value" [options]="poptions" (userChangeEnd)="update()">
              </ngx-slider>
            </div>
  
            <hr />
  
            <div class="form-group">
              <div class="col-md-12">
                <span class="left-title">
                  Monthly Expense
                </span>
                <input type="text"  class="form-control" (blur)="tbupdate(1)"
                  [(ngModel)]="query.expense" placeholder=" Monthly Expense" name="remi.highValue" />
              </div>
              <ngx-slider [(value)]="remi.value" [options]="roptions" (userChangeEnd)="update()">
              </ngx-slider>
            </div>
  
            <hr />

            <div class="form-group">
                <div class="col-md-12">
                  <span class="left-title">
                   Repayment Tenure
                  </span>
                </div>
                <ngx-select-dropdown  [config]="config" [options]="options"></ngx-select-dropdown>        </div>

            <hr />

  
            <div class="form-group">
                <div class="col-md-12 existing-loan">
                  <span class="left-title">
                    Do you have any existing loans?
                  </span>
                <ui-switch [(ngModel)]="enable" (change)="onChange($event)"></ui-switch>
              </div>
          </div>
          <hr />

          <div class="form-group" *ngIf="existingEMIField">
            <div class="col-md-12 existing-loan">
              <span class="left-title">
                EMI of existing loans
                <br>
                (Optional)
              </span>
              <input type="number">
          </div>
      </div>

        </div>
     <!--    <div class="col-lg-3">
          <div class="well">
  
  
          </div>
        </div> -->
      </div>
    </div>
  </div>